body {
  font-family: Georgia;
  color: #444;
  width: 85%; max-width: 1000px; margin: 0 auto;
}

h1, h2, h3, h4 { color: #333; margin: 0; }

.bio { text-align: center; letter-spacing: 0; }
.bio h1 { font-size: 200%; margin-top: 2%}
.bio h2 { font-size: 150%; }
.contact-info { font-size: 90%; margin-top: 1%; }

.section-title h3 { border-bottom: thin solid; margin-bottom: 0.5%; }
.section-head { display: flex; justify-content: space-evenly; }
.section-qualifier, .section-head { font-weight: bold; }
.proficiency { font-style: italic; }

@media print {
  body {width: 90%; max-width: none;}
}