/*styling for media min-width:900px*/

/* general whole page stylings */
body {
  font-family: Georgia;
  width: 100%; max-width: none; margin: 0 auto;
}

.page { background-color: #FFFFFF; padding: 0px 5px; }

h1, h2, h3, h4 { color: #333; margin: 0; }

/* bio header */

.bio { text-align: center; letter-spacing: 0; }
.bio h1 { font-size: 200%; margin-top: 2%}
.bio h2 { font-size: 150%; }
.contact-info { font-size: 90%; margin-top: 1%; }

/* social media links */

.social-media {
  display: flex;
  justify-content: center;
  font-size: 70%;
}

.social-media > div {
  max-width: 100px;
  margin-top: 5px;
}

.social-media svg {
  width: 30%;
}

.social-media p {
  text-align: center;
  margin: 0;
}

/* sections */

.section { text-align: left; }

.section-title h3 {
  border-bottom: thin solid; margin-bottom: 0.5%;
  font-size: 130%;
}

.section-head {
  display: flex; justify-content: space-between;
  font-style: italic;
  font-size:80%;
}

.section-qualifier, .section-head { font-weight: bold; }
.proficiency { font-style: italic; }

.section p, ul {
  font-size:80%;
  line-height: 1.3em;
  letter-spacing: -0.05em;
}

.section-body > ul { padding: 0px 3%; }
.inner { font-size: 100% }

@media screen and (min-width: 750px) and (max-width: 900px) {
  /* slightly larger than standard phone */
  .section-head span{
    font-size: 90%;
  }
}

@media screen and (min-width: 750px) {
  /* desktop/tablet styling */

  body {
  background-color: lightgrey;
  width: 85%; max-width: 950px;
  margin: 0 auto;
  }

  .page {
    background-color: #FFFFFF;
    padding: 0px 20px;
  }

  .section p, ul, span {
  font-size: 100%;
  line-height: none;
  letter-spacing: none;
  }

  .section-head span {
    font-size:100%;
  }

}

@media print {
  /* print media - printing to PDF*/
  body { width: 93%; max-width: none; }

a
{
   color:#0000EE;
   text-decoration: none;
   background-color: none;
}

a:hover{text-decoration:none}

}